<!DOCTYPE html>
  <head>
    <title>{% block title %}Welcome{% endblock %} - Tweeeps [Twitter Maps]</title>
    <link href='static/css/base.css' rel='stylesheet' type='text/css'>
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/base.js"></script>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>

<body>
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer%}
  {% endblock%}

  {% block js %}
  {% endblock %}

</body>
</html>
