{% extends 'base.html' %}

{% block preload_js %}
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js">
  </script>
{% endblock %}


{% block content %}
  <div id="google-maps"></div>

  <div style="display: none;" id="infoWindow">
    <h3 id="firstHeading" class="tweetTitle"></h3>
    <div id="tweetContent">
    </div>
  </div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', Tweeps.onPageLoad);
  </script>
{% endblock %}
